/*
	further design for hours page for Slate and Pencil

	Author: Nicolaus Butenko
	Date: 8/21/2024
	Filename: hours.css

*/

p {
  padding: 20px;
}

#tabletop {
  background-color: #19002f;
  color: white;
}

tr,
th,
td {
  border: 1px solid #19002f;
}

tr,
td {
  padding: 6px;
}

table tr:nth-of-type(even) {
  background-color: #ebebf7;
}

table tr:nth-of-type(odd) {
  background-color: #c1c1d6;
}

table {
  margin: auto;
  padding: 20px;
  padding-top: 0;
}
