/*
	further styling for testimonials page for Slate and Pencil

	Author: Nicolaus Butenko
	Date: 8/21/2024
	Filename: testimonials.css

*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 30px;
}

/* Float was found via W3 schools to help place images near text */

aside img {
  float: left;
}

aside p {
  margin-left: 80px;
  padding: 5px;
}
